<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
    <head th:include="~{ head :: #head }"></head>
<body>
    <header th:replace="~{ header :: #header }"></header>

    <main class="container">

        <div class="h2">Liste des Patients</div>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary float-end">Nouveau patient</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th><i class="fas fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="patient : ${liste_patient}">
                    <td th:utext="${patient.id}"></td>
                    <td th:utext="${patient.nom}"></td>
                    <td th:utext="${patient.prenom}"></td>
                    <td th:utext="${patient.email}"></td>
                    <td th:utext="${patient.telephone}"></td>
                    <td th:utext="${patient.ville?.nom}"></td>
                    <td>
                        <a th:href="@{'/patient/edit/' + ${patient.id}}"><i class="fas fa-edit"></i></a>
                        <a th:href="@{'/patient/delete/' + ${patient.id}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </main>

    <footer th:include="~{ footer :: #footer }"></footer>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form name="villeForm" method="POST" action="/patient/add">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un patient</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:include="~{ patient/add_edit :: #patientFields }"></div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="reset" class="btn btn-danger float-end">Annuler</button>
                        <button type="submit" class="btn btn-secondary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>